.card_button_container {
  padding: 5px;
}

.card-btn {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 7px;
}

.card-btn:hover {
  background-color: #008cba;
  color: white;
}

.container-shadow{
  box-shadow: 0px 4px 30px 16px rgba(244,244,244,0.75);
-webkit-box-shadow: 0px 4px 30px 16px rgba(244,244,244,0.75);
-moz-box-shadow: 0px 4px 30px 16px rgba(244,244,244,0.75);
border-radius: 20px;
}